<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951139021852-95tii2p846ng0d2j2ugl68jjbdfcegl8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951139021852-95tii2p846ng0d2j2ugl68jjbdfcegl8</string>
	<key>API_KEY</key>
	<string>AIzaSyBb-smJK7h1n4E9Qlb9YfMelCE93bFYNLw</string>
	<key>GCM_SENDER_ID</key>
	<string>951139021852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sign-login-79a16</string>
	<key>STORAGE_BUCKET</key>
	<string>sign-login-79a16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951139021852:ios:aa3d11240a95f389639bd9</string>
	<key>DATABASE_URL</key>
	<string>https://sign-login-79a16-default-rtdb.firebaseio.com</string>
</dict>
</plist>